body {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 20px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #d0f4de;
    color: #ff99c8;
    border-bottom: 6px solid #e4c1f9;
    text-shadow: 2px 2px #fcf6bd;
}

.border-blue {
    border: 1px dotted blue;
}



